* {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

nav ul {
  margin: 0.4em 1em;
  display: flex;
  list-style: none;
}

.upper-nav {
  background-color: #131313;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 0.75em;
  font-size: 0.925rem;
}

nav a {
  text-decoration: none;
  color: #808080;
}

.lower-nav a {
  font-size: 1rem;
}

nav a:hover {
  color: #fff;
}

.lower-nav {
  display: flex;
  justify-content: start;
  position: sticky;
  top: -1.80rem;
}

.lower-nav ul {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  list-style: none;
  align-items: center;
}

div img {
  height: 3.2rem;
}

.lower-nav a:hover {
  color: #131313;
}

.search-icon {
  border-left: 0.5px solid gray;
}

.default-icon {
  height: 2em;
  margin: 0.5em 0.75em;
}

.bottom-nav {
  background-color: #fcdd33;
  padding: 0.5em 0 0.5em 7em;
  font-size: 0.8rem;
}

.adjust-flex {
  display: flex;
  width: 100%;
  padding: 0 0 0 1rem;
  justify-content: space-between;
}
